<!doctype html>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
  <title>Best of the year</title>
  <th:block th:replace="~{fragments :: bootstrap}"></th:block>

</head>

<body>

  <th:block th:replace="~{fragments :: header}"></th:block>
  <!-- header -->

  <th:block th:with="content=${movie}" th:insert="~{fragments :: movieDetails(content)}"></th:block>
  <!-- movie details -->

  <div th:insert="~{fragments :: button('/movies', 'Back')}" class="text-center mx-auto pt-3"></div>
  <!-- back button -->

</body>

</html>