<!doctype html>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
  <title>Best of the year</title>
  <th:block th:replace="~{fragments :: bootstrap}"></th:block>

</head>

<body>

  <th:block th:replace="~{fragments :: header}"></th:block>
  <!-- header -->

  <th:block th:with="list=${songsList}" th:insert="~{fragments :: contentList('Songs', list)}"></th:block>
  <!-- list -->

  <div th:insert="~{fragments :: button('/', 'Homepage')}" class="text-center"></div>
  <!-- homepage button -->

</body>

</html>